/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 mai 2017, 22:23:53
    Author     : Ghassan
*/

.thumbnail{
    height: 200px;
    width: 200px;
}
/*.Bimage{
    background-image: url("building.jpg");
}*/